<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/splash.css">

    <title>Connect 4 Delft Edition</title>
</head>
<body>
    <main>
        <h1 id="name">~~~ Connect  4 ~~~</h1>
        <h3 id="subname">~ Delft Edition ~</h3>

        <div id="menugrid">
            <div class="menublock" id="select">
                <ul>
                    
                    <form action="/play" method="get" id="playform">
                        <li class="hoveroption" id="startgame" type="submit">Start Game</li>
                        <li class="hoveroption" id="hoverhowtoplay">How to play</li>
                        <li class="hoveroption" id="hoverstatistics">Statistics</li>
                        <li class="hoveroption" id="hovercredits">Credits</li>
                    </form>
                </ul>
            </div>
            <div class="menublock"  id = "display">
            </div>
        </div>

        <div id="statisticshidden" style="display: none"> 
            <li>
            <%=gamesStarted %> 
            
            <%if (gamesStarted == 1) { %>
                Game
            <% } else { %>
                Games
            <% } %> 
                Started
            </li>
                
            <li>
            <%=gamesAborted %> 
                Rage Quitted
            </li>
                
            <li>
            Color with the most wins:
            <% if (strongerColor > 0) { %>
                Blue
            <% } else if (strongerColor < 0) { %>
                Yellow
            <% } else { %>
                Equal Wins
            <% } %>
            </li>

            </div>

            <div id="version"> Version 1.0.0 </div>
    </main>

    <script src="javascripts/splashhovermenu.js"></script>
</body>
</html>